$# This file is part of Vervis.
$#
$# Written in 2019, 2022, 2024 by fr33domlover <fr33domlover@riseup.net>.
$#
$# ♡ Copying is an act of love. Please copy, reuse and share.
$#
$# The author(s) have dedicated all copyright and related and neighboring
$# rights to this software to the public domain worldwide. This software is
$# distributed without any warranty.
$#
$# You should have received a copy of the CC0 Public Domain Dedication along
$# with this software. If not, see
$# <http://creativecommons.org/publicdomain/zero/1.0/>.

$if null notifications
  <p>
    Nothing new here :-)
$else
  <form method=POST action=@{NotificationsR} enctype=#{enctypeAll}>
    ^{widgetAll}
    <div class="submit">
      <input type="submit" value="Mark all as read">

<div>
  $forall ((obj, (time, isRemote)), result, widget, enctype) <- notifications
    <div>
      $if isRemote
        Received #
      $else
        Published #
      <a href="#{objectId obj}">
        #{showTime time}

    <div>
      Result:
      <i>
        $if T.null result
          [None]
        $else
          #{result}

    $maybe summary <- objectSummary obj
      <div>
        ^{preEscapedToHtml summary}
    $nothing
      ^{renderPrettyJSONSkylighting obj}

    <form method=POST action=@{NotificationsR} enctype=#{enctype}>
      ^{widget}
      <div class="submit">
        <input type="submit" value="Mark as read">

    <hr>
